<html>
    <head>
        <title>Message Board</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Message board</h1>
        <p><%= usernameMessages %></p>
        <p><%= coreMessages %></p>
        <a href="/new">New message</a>
    </body>
</html>
