body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.message-box {
    background-color: antiquewhite;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin: 5px;
    padding: 15px 15px;
    list-style-type: none;
    width: 1000px;
}

.message-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message-user {
    font-size: 12px;
    font-style: italic;
    margin: 0;
}

.message-text {
    margin: 0;
}

.message-date {
    margin: 0;
    font-size: 12px;
}

/* Form */

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 12px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-primary {
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 11px;
    letter-spacing: 0.8px;
    font-weight: 900;
    color: white;
    background-color: rgb(33, 33, 33);
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 1px 4px 5px rgb(231, 231, 231);
    text-transform: uppercase;
}

/* General */
a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}